body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 10px;
}
form input{
    margin-bottom: 5px;
}